.loss {
    color: red;
}

.gain {
    color: green;
}

.grid {
    overflow-y: auto;
}

    /* Sticky header while scrolling */
    .grid ::deep thead {
        background-color: #d8d8d8;
        outline: 1px solid gray;
    }

    .grid ::deep table {
        min-width: 100%;
    }
