@page "/add"
@inject DataSource DataSource
@inject NavigationManager NavigationManager

<Nav ShowHome="false" Title="Add Transaction" />

<table>
    <tr><td>Symbol:</td><td><InputText @bind-Value="_model.Symbol" /></td></tr>
    <tr><td>Date:</td><td><InputDate @bind-Value="_model.Date" /></td></tr>
    <tr>
        <td>Type:</td>
        <td>
            <InputSelect @bind-Value="_model.Type">
                @foreach (var item in Enum.GetValues<TransactionType>())
                {
                    <option value="@item">@item.ToString()</option>
                }
            </InputSelect>
        </td>
    </tr>
    <tr><td>Quantity:</td><td><InputNumber @bind-Value="_model.Quantity" /></td></tr>
    <tr><td>Value:</td><td><InputNumber @bind-Value="_model.Value" /></td></tr>
</table>

<button @onclick="Add_Click">Add</button>
<button @onclick="Cancel_Click">Cancel</button>
