@inject NavigationManager NavigationManager

<h3>@Title</h3>

@if (ShowHome)
{
    <Button @onclick="Home_Click">Home</Button>
}

@code
{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool ShowHome { get; set; }

    private void Home_Click()
    {
        NavigationManager.NavigateTo("/transactions");
    }
}
