@page "/report"
@inject DataSource Data
@using Microsoft.AspNetCore.Components.QuickGrid

<Nav ShowHome="true" Title="Report" />

<MudBlazor.MudTabs>
    @if (HasOpen)
    {
        <MudBlazor.MudTabPanel Text="Open">
            <p>Sell price: <WhileTypingInputText @bind-Value="SellPrice" /></p>
            <CgtSingleYearReport Report="_report.Open" />
        </MudBlazor.MudTabPanel>
    }
    @foreach (var report in _report.Reports)
    {
        <MudBlazor.MudTabPanel Text="@report.TaxYear">
            <CgtSingleYearReport Report="report" />
        </MudBlazor.MudTabPanel>
    }
</MudBlazor.MudTabs>

@code {
    private CgtReport _report = null!;
    private decimal _sellPrice = 100;

    private bool HasOpen => _report.Open.LineItems.Count > 0;

    private string SellPrice
    {
        get
        {
            return _sellPrice.ToString();
        }
        set
        {
            decimal.TryParse(value, out _sellPrice);
            _ = OnInitializedAsync();
            this.StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _report = await CgtReportCreator.CreateAsync(this.Data, _sellPrice).ConfigureAwait(false);
    }
}
