@page "/report"
@inject DataSource Data
@using Microsoft.AspNetCore.Components.QuickGrid

<Nav ShowHome="true" Title="Report" />

<MudBlazor.MudTabs>
    @if (HasOpen)
    {
        <MudBlazor.MudTabPanel Text="Open">
            <p>
                Sell price:
                <WhileTypingInputText @bind-Value="SellPrice" />
                <InputSelect @bind-Value="Currency">
                    <option>USD</option>
                    <option>AUD</option>
                </InputSelect>
            </p>
            <CgtSingleYearReport Report="_report.Open" />
        </MudBlazor.MudTabPanel>
    }
    @foreach (var report in _report.Reports)
    {
        <MudBlazor.MudTabPanel Text="@report.TaxYear">
            <CgtSingleYearReport Report="report" />
        </MudBlazor.MudTabPanel>
    }
</MudBlazor.MudTabs>
