@page "/report"
@inject DataSource Data

@using Microsoft.AspNetCore.Components.QuickGrid

<Nav ShowHome="true" Title="Report" />

@foreach (var report in _report)
{
    <h3>@report.TaxYear</h3>

    <div class="grid">
        <QuickGrid Items="report.LineItems.AsQueryable()">
            <PropertyColumn Property="l => l.Symbol" />
            <PropertyColumn Property="l => l.PurchaseDate" Format="d MMM yyyy" />
            <PropertyColumn Property="l => l.SellDate" Format="d MMM yyyy" />
            <PropertyColumn Property="l => l.Quantity" Format="0.####" Align="Align.Right" />
            <PropertyColumn Property="l => l.CostBase" Format="$#,##0.00" Align="Align.Right" />
            <PropertyColumn Property="l => l.SalesValue" Format="$#,##0.00" Align="Align.Right" />
            <PropertyColumn Property="l => l.Profit" Format="$#,##0.00" Align="Align.Right" />
            <TemplateColumn Title="Gain">
                @(context.Long ? "Long" : "Short")
            </TemplateColumn>
        </QuickGrid>
    </div>
}

@code {
    private List<CgtReport> _report = null!;

    protected override async Task OnInitializedAsync()
    {
        _report = await CgtReportCreator.CreateAsync(this.Data).ConfigureAwait(false);
    }
}
