@page "/"
@page "/transactions"
@inject DataSource Data
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore;

<Nav ShowHome="false" Title="Transactions" />

<QuickGrid Items="_transactions">
    <PropertyColumn Property="t => t.Date" Sortable="true" IsDefaultSort="SortDirection.Descending" />
    <PropertyColumn Property="t => t.Type" />
    <PropertyColumn Property="t => t.Symbol" />
    <PropertyColumn Property="t => t.Quantity" Sortable="true" />
    <TemplateColumn Title="Amount">
        <span class="@context.Type.ToString().ToLower()">@context.Amount.ToString("$#,##0.00")</span>
    </TemplateColumn>
</QuickGrid>

<button @onclick="Add_Click">Add</button>
<button @onclick="Import_Click">Import</button>

@code
{
    private IQueryable<Transaction>? _transactions;

    protected override Task OnInitializedAsync()
    {
        _transactions = Data.Transactions;

        return Task.CompletedTask;
    }

    private void Add_Click()
    {
        NavigationManager.NavigateTo("/add");
    }

    private void Import_Click()
    {
        NavigationManager.NavigateTo("/import");
    }
}