@page "/"
@inject DataSource Data
@inject NavigationManager NavigationManager

@using Microsoft.AspNetCore.Components.QuickGrid

<Nav ShowHome="false" Title="Transactions" />

<QuickGrid Items="_transactions">
    <PropertyColumn Property="t => t.Date" />
    <PropertyColumn Property="t => t.Quantity" />
    <PropertyColumn Property="t => t.Amount" />
</QuickGrid>

<button @onclick="Add_Click">Add</button>
<button @onclick="Import_Click">Import</button>

@code
{
    private IQueryable<Transaction>? _transactions;

    protected override async Task OnInitializedAsync()
    {
        var items = await Data.GetTransactionsAsync();

        _transactions = items.AsQueryable();
    }

    private void Add_Click()
    {

    }

    private void Import_Click()
    {
        NavigationManager.NavigateTo("/import");
    }
}